.maindiv{
    background: url(https://img.freepik.com/free-vector/digital-dark-wavy-background_23-2148388254.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
   
    height: 100vh;
    width: 100vw;

}

.quicklink-container{
    background:   rgba(0, 0, 0, 0.658); 
    height: 100vh;
    width: 100vw;
    display: flex;
   justify-content: space-around;
   align-items: center;
    color: white;
    
}

.input-data {
    width: 40%;
    padding: 40px;
    background-color: #fff;
    color: black;
    height: 50vh;
    margin: auto 0px;
    margin-left: 5rem;
}


.input-data h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.input-data .input-box{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.input-data .input-box input,
.input-data .input-box textarea
{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    resize: none;

}


.send
{
    margin-top: 1rem;
    width: 90%;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    border-radius: 0.4rem;
    
}
span{
  
    margin-top: 1rem;
    margin-left: 2rem;
    cursor: pointer;
}
.linkimg{
    height: 2.4rem;
  
 
}

.button-copy-link{
    display: flex;
    align-items: center;
   
 
}

.rightdiv{
   
    height: 80vh; 
    overflow-y: scroll;
   
} 

.rightdiv h1{
    font-size: 30px;
   text-align: center;
    font-weight: 500;
}
.urldiv{
    margin-top: 1rem;
    border: 1px solid white;
  
    border-radius: 2rem;
    padding: 2rem 2rem;
}